In [84]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [86]:
df= pd.read_csv(r"C:\Users\shash\OneDrive\Desktop\Machine Learning\24 Standardization\Social_Network_Ads.csv")

In [88]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [92]:
df = df.iloc[:,2:]
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

# Train Test split

Before doing any scaling we need to do the scaling

In [114]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df.drop('Purchased',axis=1),df['Purchased'],test_size=0.2,random_state=4)

In [116]:
df.columns

Index(['Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [118]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((320, 2), (80, 2), (320,), (80,))

# Standard Scaler

In [122]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled =scaler.transform(X_train)

In [126]:
scaler.mean_

array([3.7943750e+01, 7.0409375e+04])

In [134]:
X_train_scaled = pd.DataFrame(X_train_scaled,columns=X_train.columns)
X_test_scaled =pd.DataFrame(X_test_scaled,columns=X_test.columns)

In [138]:
np.round(X_train_scaled.describe(),1) #mean = 0 and SD = 1 standardized

         Age  EstimatedSalary
count  320.0            320.0
mean    -0.0              0.0
std      1.0              1.0
min     -1.9             -1.6
25%     -0.8             -0.8
50%     -0.1              0.0
75%      0.8              0.5
max      2.1              2.3